.bg-light{
    background: #2dacd6 !important;
}
.font-size11{
    font-size: 11px;
}
.collapesBtn{
    text-decoration: blink;
    border: 1px solid #0f8fb9;
    color: #0f8fb9;
}

app-pagination{
    width: 100%;
}